*.mp4
*/recorded_data/*
**/task/*
*/*pycache*/*
**/__pycache__/
**.hdf5
**.env

library/__pycache__/__init__.cpython-38.pyc
library/__pycache__
autograsper/20_frames
autograsper/20_frames_cleaned
autograsper/candidate
autograsper/merged_data
autograsper/recorded_data (Copy)
autograsper/stage_1_new_collection
autograsper/stage_1_second_new_collection_full copy
autograsper/successful2 copy
autograsper/test
